/* ==========================================================================
    Colors Settings
    ========================================================================== */

// Primary Colors
$primary-color          = #1891EA
$primary-color-light    = lighten($primary-color, 15%)
$primary-color-dark     = darken($primary-color,15%)

// Secundary Colors
$secundary-color        = #EC168B
$secundary-color-light  = lighten($secundary-color, 15%)
$secundary-color-dark   = darken($secundary-color, 15%)
